body{
  text-align: center;
  background-color: #ff5d00;
}

a{
  background-color: black;
  border-radius: 10px;
  font-size: 120%;
  font-weight: 550;
  color: white;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.yolo {
  height: 5%;
}
